---
// Legacy WordPress path `/press/` pointed at the blog listing.
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Redirecting to Blogs</title>
		<meta http-equiv="refresh" content="0;url=/blog/" />
		<link rel="canonical" href="/blog/" />
	</head>
	<body>
		<p><a href="/blog/">Continue to Blogs</a></p>
	</body>
</html>
